<% title("Home") %>


  <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1>Put Healthy In Your Pocket</h1>
          <p>The WellCause app focuses on improving your food and fitness habits via 1on1 health coaching and "WellTracks" -- personalized routes to healthy living based on your daily activities.</p>
          <p><a class="btn btn-primary btn-lg" role="button">Sign up &raquo;</a></p>
        </div>
      </div>
	  
	  

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-check-circle"></i> 1on1 Health Coaching</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-check-circle"></i> Affordable Nutrition Advice</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. </p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-check-circle"></i> Fun Group Workouts</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. </p>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->
	
	<br />
    <hr />
		
    <div class="section-colored">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>Eat Healthier Easily</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                    <ul>
                        <li>Bootstrap 3 Framework</li>
                        <li>Mobile Responsive Design</li>
                        <li>Predefined File Paths</li>
                        
                   </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/450x200">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/450x200">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>Workout Your Way</h2>
 					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                     <ul>
                         <li>Bootstrap 3 Framework</li>
                         <li>Mobile Responsive Design</li>
                         <li>Predefined File Paths</li>
                        
                    </ul>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->
	
	
	
    <div class="section-colored">

        <div class="container">

            <div class="row">
				
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>Track Your Results</h2>
 					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                     <ul>
                         <li>Bootstrap 3 Framework</li>
                         <li>Mobile Responsive Design</li>
                         <li>Predefined File Paths</li>
                        
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/450x200">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/450x200">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>Repeat With Ease</h2>
 					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                     <ul>
                         <li>Bootstrap 3 Framework</li>
                         <li>Mobile Responsive Design</li>
                         <li>Predefined File Paths</li>
                        
                    </ul>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->
    
	
	
	