
   <h1>Affordable nutrition advice. No gym needed.</h1>
   <hr />
   
    <div class="section-colored">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>1) Find a workout / health coach</h2>
                    <p>Log in on the app or online to find fun and challenging workouts indoors and outdoors in your neighborhood led by rockstar trainers.
</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/500x300">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/500x300">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>2) Reserve your spot</h2>
                    <p>Select your favorite days, times and workouts and reserve your spot. The best part, the more you workout, the less you pay.
</p>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->
	
	
	
    <div class="section-colored">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>3) Workout More </h2>
                    <p>Work towards your WellCause at a workout and have a fun sweaty time!  Track your progress and repeat for the best results.
</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/500x300">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->		

    </div>
    <!-- /.section-colored -->
	
	    <div class="section">

	        <div class="container">

	            <div class="row">
	                <div class="col-lg-6 col-md-6 col-sm-6">
	                    <img class="img-responsive" src="http://placehold.it/500x300">
	                </div>
	                <div class="col-lg-6 col-md-6 col-sm-6">
	                    <h2>4) Eat Better Easily</h2>
	                    <p>Select your favorite days, times and workouts and reserve your spot. The best part, the more you workout, the less you pay.
	</p>
	                </div>
	            </div>
	            <!-- /.row -->

	        </div>
	        <!-- /.container -->

	    </div>
	    <!-- /.section -->
