<% title("Legal") %>

<h1>Legal</h1>
  </br>
  
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to "Client Terms of Service", terms_path %></li>
    <li><%= link_to "Privacy Policy", privacy_path %></li>
    <li><%= link_to "Terms of Service", terms_path %></li>
  </ul>
  